* {
  box-sizing: border-box;
}

header {
  background-color: #2d3945;
  color: white !important;
  text-align: center;
  height: 60px;

}

table {
  width: 100%;
}

header p:only-child {
  padding: 17px;
  padding-top: 20px;
  margin: 0;
  color: white !important;
}

p, .label {
  color: #a6a6a6 !important;
}

hr{
  background-color: black;
  margin-bottom: 3px;
  margin-top: 3px;
}

hr.solid {
  height: 4px;
}

hr.thin {
  height: 1px;
}

h1 {
  color: #2d3945;
}


h2 {
  font-size: 1em;
}

label{
  color: #595959;
}

legend {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

#zip {
  width: 50%;
}

fieldset {
  border: none;
  padding: 0;
}

button {
  width: 100%;
  height: 50px;
  border:none;
  border-radius: 3px;
  background-color: #4ebbb5;
  color: white;
}

::-webkit-input-placeholder {
    text-align: right;
}

.center{
    text-align: center;
}

form{
  display:block;
  width:85%;
  margin:0 auto;
  max-width: 500px;
}

input:focus {
  outline-color: #4ebbb5;
  outline-width: 2px;
}

input[type=text],
input[type=number],
input[type=tel],
textarea,
select {
  background-color: lightgrey;
  border: 0;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
}

input[type=checkbox],input[type=radio] {

margin-bottom: 20px;
}

textarea{
  height: 100px;

}

em {
  font-style: italic;
  font-size: .5em;
}

footer{
  margin:0 auto;
  background-color: white;
  height: 150px;
  font-style: italic;
}

@media (max-width: 760px) {

  table, thead, tbody, th, td, tr {
		display: block;
	}

}

@media (min-width: 760px) {

  input[type=text],
  input[type=number],
  input[type=tel],
  select {
    display: inline-block;
    width: 100%;

  }

  label{
    margin:10px;
    margin-bottom: 10px;
  }



}
